body {
    background-color: #EDB6BB; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C0A8C3; 
    padding: 20px;
    text-align: center;
}

#showFormButton, #contactButton {
    background-color: #B099B1; 
    color: #FFFFFF; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#showFormButton:hover, #contactButton:hover {
    background-color: #3F5865;
}

#contactInfo {
    display: none;
}

nav {
    background-color: #B099B1; 
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #FFFFFF; 
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container img {
    max-width: 1084px;
    width: 100%;
    height: auto;
}

   
